 

html{
	font-size: 62.5%;
}
body{	
	font-size: 1.6rem; 
	font-weight: 400; 
	overflow-x: hidden;
	font-family: 'Scribble Sprouts';
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li a,a{
	text-decoration: none;
}

.main-content{
	max-width: 320px;
	width: 100%;
	margin: 0 auto;
	height: calc(100vh - 78px); 
	overflow-y: auto;
	overflow-x: hidden;
	background: #070030;  
	margin-top: 78px;
	scrollbar-width: thin;    
  	scrollbar-color: #7f00ff #2c185d; 
} 
 
.main-content::-webkit-scrollbar {
  width: 10px;               
}

.main-content::-webkit-scrollbar-track {
  background: #1a0033;       
  border-radius: 10px;
}

.main-content::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff00ff, #7f00ff);
  border-radius: 10px;
}

.main-content::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ff66ff, #9933ff);
}


/*======================  Start Page  ======================*/

.header_area {
	position: fixed;
	z-index: 99;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	top: -1px;
}

.header_area .nav-tabs {
	border-bottom: none; /* no border */
	justify-content: center;
}

.header_area .nav-link {
	border: none !important;
	background: transparent !important;
	padding: 5px;
}

.header_area .nav-link img {
	width: 50px; 
}

 
.header-tabs {
	position: absolute;
	left: 0;
	right: 0;
	top: 45%;
}

.mt-18 {
	margin-top: 18px;
}

.tab-content-box > h3 {
	font-size: 12px;
	text-align: center;
	color: #fff;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.game-icon {
	position: absolute;
	right: 64px;
	bottom: 68px;
	z-index: 9;
}

.game-point {
	position: absolute;
	left: 6%;
	bottom: 33%;
	font-size: 17px;
	z-index: 9;
	color: #fff;
	font-family: 'Hero Bump';
}

.game-title {
	position: absolute;
	font-size: 16px;
	left: -7px;
	right: 0;
	margin: 0 auto;
	text-align: center;
	bottom: 35px;
	color: #ff9c00;
	z-index: 9;
}

.last-game-img{
	position: relative;
	z-index: 2;
}

.last-game-icon {
	position: absolute;
	bottom: 37px;
	left: 11px;
	z-index: 1;
}

/* .main-box {
	padding-top: 82px;
} */

.tab-content-box > p {
	padding-left: 10px;
}

/*======================  End Page  ======================*/

/* 
    font-family: 'Scribble Sprouts';
	font-family: 'Hero Bump';
*/



